
<% @places.each do |place| %>

    

  <div class="nomster-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description  %></p><br />



    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>


      
    <% if place.photos.present? %>
      <div class="col-12 centered place_photo_holder">
        <% photo = place.photos.last %>
        <%= image_tag photo.picture.url, class: "thumbnail" %>
        <br />
        <%= photo.caption  %>
        <br />
        <small><%= photo.user.email %></small>
        <br />
      </div>
    <% end %>
      
    <% if place.comments.present? %>
  <div class="col-12">
    <blockquote>
      <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> -
      <% end %>
      <%= place.comments.last.message %>
      <small><%= place.comments.last.user.email %></small>
    </blockquote>
  </div>
<% end %>

  </div>
<% end %>
<%= will_paginate @place %>